{% extends "layout.html" %}

{% block titulo %} {{ titulo }} {% endblock %}

{% block content %}

<h3>Aqui vai a noticia escolhida</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu purus eget augue hendrerit mollis. Quisque leo nibh, feugiat quis malesuada eu, interdum vel tortor. Pellentesque sit amet urna fringilla, vehicula nibh eget, dictum ex. Curabitur et urna a sem maximus mattis. Donec tristique lacus nec felis pharetra blandit. Donec mattis erat eu nulla rhoncus, quis vehicula turpis tincidunt. Cras rutrum nulla sed molestie placerat. Cras et eros dapibus, suscipit nisl vitae, semper magna. Morbi hendrerit commodo magna sed volutpat. Suspendisse leo dolor, rhoncus nec posuere vel, congue sit amet enim.</p>

<p>Mauris ut augue sed quam sodales pellentesque. Curabitur finibus magna non metus ornare, sed eleifend sapien finibus. Aliquam iaculis nibh et felis cursus, nec tempus lacus sodales. Phasellus quis semper nibh. Vivamus nisl nisi, placerat quis lacus eu, laoreet dictum tortor. Proin id rutrum dolor, id bibendum lorem. Vestibulum et turpis risus. Maecenas orci nisl, ullamcorper vestibulum dui ac, maximus semper nibh. Phasellus faucibus ac nisl et tempus. Sed tristique magna id turpis sagittis elementum.</p>

{% endblock %}