<div class="divPanel">

    <div class="row-fluid">
        <div class="span3" id="footerArea1">

            <h3>Links</h3>

            <p>Navegue pelos links abaixo.</p>

            <p>

            </p>

        </div>
        <div class="span3" id="footerArea2">

            <h3>Posts recentes</h3>
            <p>
                <a href="#" title="">Lorem Ipsum is simply dummy text</a><br />
                <span style="text-transform:none;">2 hours ago</span>
            </p>
            <p>
                <a href="#" title="">Duis mollis, est non commodo luctus</a><br />
                <span style="text-transform:none;">5 hours ago</span>
            </p>
            <p>
                <a href="#" title="">Maecenas sed diam eget risus varius</a><br />
                <span style="text-transform:none;">19 hours ago</span>
            </p>
            <p>
                <a href="#" title="">VIEW ALL POSTS</a>
            </p>

        </div>
        <div class="span3" id="footerArea3">

            <h3>Conteúdo simples</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
            </p>

        </div>
        <div class="span3" id="footerArea4">

            <h3>Entre em contato</h3>

            <ul id="contact-info">
            <li>
                <i class="general foundicon-phone icon"></i>
                <span class="field">Telefone:</span>
                <br />
                (16) 3339-8398 / (16) 98148-9809
            </li>
            <li>
                <i class="general foundicon-mail icon"></i>
                <span class="field">Email:</span>
                <br />
                <a href="mailto:info@yourdomain.com" title="Email">contato@mvcawb.com.br</a>
            </li>
            <li>
                <i class="general foundicon-home icon" style="margin-bottom:50px"></i>
                <span class="field">Endereço:</span>
                <br />
                123 Street<br />
                12345 City, State<br />
                Country
            </li>
            </ul>

        </div>
    </div>

    <br /><br />
    <div class="row-fluid">
        <div class="span12">
            <p class="copyright">
                Copyright © 2013 Your Company. All Rights Reserved.
            </p>

            <p class="social_bookmarks">
                <a href="#"><i class="social foundicon-facebook"></i> Facebook</a>
    <a href=""><i class="social foundicon-twitter"></i> Twitter</a>
    <a href="#"><i class="social foundicon-pinterest"></i> Pinterest</a>
    <a href="#"><i class="social foundicon-rss"></i> Rss</a>
            </p>
        </div>
    </div>
</div>
